<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#nav-menu-collapse"
              aria-expanded="false"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="nav-menu-collapse">
              <span class="sr-only">Navigation umschalten</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand sticky-logo" role="link" title="Home">
              <img src="assets/images/logo.png" alt="Hingucker Auto Detailing" title="Hingucker Auto Detailing">
            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling. -->
          <div class="collapse navbar-collapse main-menu" id="nav-menu-collapse" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav navbar-right">
              <!-- Set routerLinkActiveOptions to avoid duplication menu-active class. -->
              <li
                role="presentation"
                routerLinkActive="menu-active"
                [routerLinkActiveOptions]="{exact: true}"
                *ngFor="let route of mainRoutes; let i = index"
                data-toggle="collapse"
                data-target=".navbar-collapse.in">
                <a routerLink="{{ route.url }}" role="link" title="{{ route.name }}">{{ route.name }}</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
