<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo">
                <h2><span>Hingucker</span> Auto Detailing</h2>
              </div>
              <p>Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung... Beschreibung...</p>
              <div class="footer-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/pg/HinguckerAutoDetailing/" role="link" target="_blank" title="HinguckerAutoDetailing Facebook"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <!-- TODO: Fix hrefs. -->
                    <a href="#"><i class="fa fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Information</h4>
              <p>Kurze Beschreibung... Kurze Beschreibung... Kurze Beschreibung...</p>
              <div class="footer-contacts">
                <p><span>Tel:</span> +49 1520 4271999</p>
                <p><span>E-Mail:</span> kontakt@hingucker.de</p>
                <p><span>Arbeitszeit:</span> 09:00-17:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 copyright text-center">
          <!-- TODO: Add year using Angular. -->
          <p>&copy; 2018 <strong>Hingucker Auto Detailing</strong>. Erstellt von <a href="http://ditectrev.com" target="_blank" title="Webentwicklung" role="link">Ditectrev</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
