<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo">
                <img src="assets/images/logo.png" alt="Hingucker Auto Detailing" title="Hingucker Auto Detailing">
              </div>
              <p>Das professionelle Studio Hingucker Auto Detailing bietet umfassende Lösungen im Bereich der
                Autopflege, &ndash;sanierung und &ndash;schutz. Wir spezialisieren uns auf das Schützen von brandneuen
                Autos, Erneuern von Auto&ndash;Oldtimer und die Vorbereitung der Fahrzeuge zum Verkauf.</p>
              <div class="footer-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/pg/HinguckerAutoDetailing/" rel="noreferrer noopener" role="link"
                      target="_blank" title="HinguckerAutoDetailing Facebook"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <!-- TODO: Add YouTube channel. -->
                    <!--<a href="#"><i class="fa fa-youtube"></i></a>-->
                  </li>
                  <li>
                    <a href="https://www.instagram.com/hinguckerautodetailing/" rel="noreferrer noopener" role="link"
                      target="_blank" title="HinguckerAutoDetailing Instagram"><i class="fa fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Information</h4>
              <p>Bielefeld aufbereitung Flugzeug<br>Bielefeld aufbereitung Wohnmobile<br>Bielefeld aufbereitung Motorrad
              </p>
              <div class="footer-contacts">
                <p><span>Tel:</span> <a href="tel:+4915204271999"><strong>+49 1520 4271999</strong></a></p>
                <p><span>E-Mail:</span> <a
                    href="mailto:kontakt@hingucker-auto-detailing.de"><strong>kontakt@hingucker-auto-detailing.de</strong></a>
                </p>
                <p><span>Arbeitszeit:</span> 09:00-17:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 copyright text-center">
          <p>&copy; {{ myDate | amDateFormat: 'YYYY' }} <strong>Hingucker Auto Detailing</strong>. Erstellt von <a
              href="http://ditectrev.com" rel="noreferrer noopener" target="_blank" title="Webentwicklung"
              role="link">Ditectrev</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
