<app-header></app-header>
<section>
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Cabriodächer Schutz</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <img src="assets/images/services/convertible-roofs-protection1.jpg" alt="Cabriodächer Schutz" title="Cabriodächer Schutz">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">Beschreibung</h4>
              <p>
                <b>Dauer: bis zu 12 Stunden</b><br><b>Preis: 70,00 €</b><br>Für die Imprägnierung und den Schutz von Stoffen des Cabriodaches benutzen wir ein professionelles Mittel, welches auf SiO2 (Siliciumdioxid) basiert. Dank dieses Schutzes ist das Dach seltener verschmutzt und resistent gegen Feuchtigkeit, schützt vor UV-Strahlen und vor dem Farbenverlust. Diese Maßnahme gewährleistet einen unglaublichen wasserabweisenden Effekt.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Galerie</h2>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
