<app-header></app-header>
<section>
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Lackschutz - Wachs</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <img src="assets/images/services/paint-protection-wax1.jpg" alt="Lackschutz - Wachs"
                title="Lackschutz - Wachs">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">Beschreibung</h4>
              <p>
                <b>Beständigkeit der Maßnahme: 3 Monate</b><br><b>Realisierungszeit: 40 Minuten</b><br><b>Preis: 30,00
                  €</b><br>Der Autolack ist die erste Barriere, welchen sich das Auto den Außenfaktoren stellt. Der Lack
                entscheidet über die Originalität und den Charakter deines Fahrzeuges. Zweifellos muss man sich um
                dieses Element entsprechend kümmern. Wenn man das Element vor Korrosion und den atmosphärischen
                Verhältnisse schützt, bringt das Erfolg in der Zukunft. Das Wachsen von Lackverlusten für zum Ausfüllen
                dieser. Deshalb gelangen auch keine Verschmutzungen in die Struktur. Darüber hinaus verbessert das Wachs
                die ästhetischen Effekte der Karosserie und die Farbe gewinnt die Tiefe und den Ganz zurück. Die Effekte
                bleiben zwischen ein paar Wochen und Monaten erhalten. Das ist abhängig von der Art des Wachses und von
                der Art und Weise der Benutzung und des Waschens des Autos.<br><br><b>Wachsen im Hinguckerstudio Schritt
                  für Schritt:</b>
              </p>
              <ul>
                <li><i class="fa fa-check"></i> Detaillingwaschen der Karosserie des Autos</li>
                <li><i class="fa fa-check"></i> Anwendung des Wachses auf der Lackoberfläche</li>
                <li><i class="fa fa-check"></i> Beseitigung des restlichen Wachses mit Hilfe der besten auf dem Markt
                  vorhandenen Mikrofasern</li>
              </ul>
            </div>
            <br>
            <p>Schlüsselwörter: Lackschutz, Wachsschutz, natürliches Wachs, synthetisches Wachs, PREMIUM Wachs, Wachs
              fürs Auto, Carnauba Wax, Autowachs.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Galerie</h2>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
