<app-header></app-header>
<section>
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Cabriodächer Reinigung</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <img src="assets/images/services/convertible-roofs-cleaning1.jpg" alt="Cabriodächer Reinigung"
                title="Cabriodächer Reinigung">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">Beschreibung</h4>
              <p>
                <b>Dauer: 2-4 Stunden</b><br><b>Preis: ab 60,00 €</b><br>Ein ungeschütztes Cabriodach ist der
                Feuchtigkeit
                und der Verschmutzung äußerst ausgesetzt. Dies sind günstige Begleitumstände für das Entfalten von
                Mikroorganismen oder auch Moos. Um solche Effekte der Benutzung zu vermeiden, wird eine Instandsetzung
                und Imprägnierung empfohlen, welche alle Beschmutzungen beseitigt, dem Ausbleichen vorbeugt, und das
                Dach deshalb ideal erhalten bleibt. Material- und Vinylcabriodächer fordern eine besondere
                Aufmerksamkeit, da sie ununterbrochen verschiedenen atmosphärische Bedingung ausgesetzt sind, welche
                Einfluss auf das Aussehen und Haltbarkeit haben.
              </p>
            </div>
            <br>
            <p>Schlüsselwörter: Cabriodächer, Reinigung und Schutz Cabriodächer, cabriodach versiegelung, Cabrioverdeck
              imprägnieren, Cabriodachversiegelung, Cabrioverdeck reinigen, Cabrioverdeck imprägnieren.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Galerie</h2>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
