<app-header></app-header>
<section>
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Reifen- und Radwechsel</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <img src="assets/images/services/tire-and-wheel-change1.jpg" alt="Instandsetzung des Lackes"
                title="Instandsetzung des Lackes">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">Beschreibung</h4>
              <p>
                <b>Dauer der Maßnahme: ab 30 Minuten</b><br><b>Preis: ab 10,00 €</b><br>Wir laden Sie herzlich zum
                Studio Hingucker
                zum Reifenwechsel ein. Wir warten auf Sie und Ihr Auto in unserem Studio!
              </p>
              <ul>
                <li><i class="fa fa-check"></i> Inklusive Auswuchten.</li>
                <li><i class="fa fa-check"></i> Ohne lange Wartezeiten.</li>
                <li><i class="fa fa-check"></i> Zu fairen Preisen.</li>
                <li><i class="fa fa-check"></i> Geschultes Fachkpersonal.</li>
                <li><i class="fa fa-check"></i> Mehr Sicherheit.</li>
                <li><i class="fa fa-check"></i> Schnellservice ohne Voranmeldung oder auf Wunsch mit Termin.</li>
              </ul>
            </div>
            <br>
            <p>Schlüsselwörter: Reifenwechsel, Radwechsel, Auswuchten der Räder, Radwechsel in Bielefeld, Reifenwechsel
              ohne
              Terminvereinbarung, Winterreifen, Sommerreifen.</p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 secondary-info">
          <div class="single-well">
            <p>Reifenmontage (Inkl. Auswuchten):</p>
            <ul>
              <li><i class="fa fa-check"></i> 13 Zoll 10 € pro Stück</li>
              <li><i class="fa fa-check"></i> 14 Zoll 10 € pro Stück</li>
              <li><i class="fa fa-check"></i> 15 Zoll 12 € pro Stück</li>
              <li><i class="fa fa-check"></i> 16 Zoll 13 € pro Stück</li>
              <li><i class="fa fa-check"></i> 17 Zoll 15 € pro Stück</li>
              <li><i class="fa fa-check"></i> 18 Zoll 16 € pro Stück</li>
              <li><i class="fa fa-check"></i> 19 Zoll 18 € pro Stück</li>
              <li><i class="fa fa-check"></i> 20 Zoll 18 € pro Stück</li>
              <li><i class="fa fa-check"></i> 21 Zoll 19 € pro Stück</li>
            </ul>
            <p>* Aufpreis für SUVs, Busse und Run Flat</p>
          </div>
          <br>
          <p>Schlüsselwörter: Folienschutz, PPFFolie, Lackschutz, Der beste Autolackschutz, Autofolie, Autolackschutz in
            Bielefeld, Autoaufbereitung, Autopflege, Autodetailing, Autospa, Lackschutz Bielefeld.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
