<app-header></app-header>
<section>
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Lackschutz - Keramik</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <img src="assets/images/services/paint-protection-ceramics1.jpg" alt="Lackschutz - Keramik"
                title="Lackschutz - Keramik">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">Beschreibung</h4>
              <p>
                <b>Beständigkeit der Maßnahme: 2-3 Jahre, Preis: ab 460,00 €</b><br><b>Beständigkeit
                  der Maßnahme: 4 Jahre, Preis: ab 590,00 €</b><br><b>Beständigkeit
                  der Maßnahme: 5 Jahre, Preis: ab 680,00 €</b><br>Außergewöhnliche Fahrzeuge verdienen einen
                entsprechenden Umgang, in diesem Fall auch einen permanenten Lackschutz. Um den Lack in einem
                vorzüglichen Zustand zu erhalten, ist eine sehr große Herausforderung. Die Keramikbeschichtung ist
                derzeit die beständigste und bekannteste auf der Welt Form des Lackschutzes und anderen Oberflächen
                deines Autos. Die Superiorität der Keramikbeschichtung gegenüber den anderen besteht in der Härte,
                Glätte und Widerstandsfähigkeit gegen die Abnutzung. Dank der Nanotechnologie sind diese Beschichtungen
                Oberflächen von höchster Qualität, welche nach der richtigen Anwendung und Verhärtung in Festkörper
                umwandeln. Nach dem Schutz auf dem Lack erscheint eine durchsichtige Beschichtung, welche eine Breite
                von 4-5 Mikrometern hat und die Karosserie dadurch von anderen äußeren Faktoren isoliert
                ist.<br><br><b>Vorteile:</b>
              </p>
              <ul>
                <li><i class="fa fa-check"></i> Hervorragende Widerstandsfähigkeit gegen starke atmosphärische
                  Bedingungen: saurer Regen, UV-Strahlen, Säfte die von Bäumen auf den Lack fallen, Streusalz.</li>
                <li><i class="fa fa-check"></i> Hohe Widerstandsfähigkeit gegen jegliche Kratzer</li>
                <li><i class="fa fa-check"></i> Minimalisierung von notwendigen und teuren Lackkorrekturen</li>
                <li><i class="fa fa-check"></i> Erlangung des Spiegeleffektes auf dem Lack und der Farbtiefe</li>
                <li><i class="fa fa-check"></i> Wasserabweisende Eigenschaften , dank welcher die geschützte Oberfläche
                  die Fähigkeit zum Abstoßen von Wassermolekülen und Verschmutzungen hat.</li>
                <li><i class="fa fa-check"></i> Erhöhung von Widerstandsfähigkeit auf das Wirken von chemischer Invasion
                </li>
                <li><i class="fa fa-check"></i> Widerstandsfähigkeit gegen das Korrodieren und Oxidieren</li>
                <li><i class="fa fa-check"></i> Wirksamer Lackschutz bis zu 5 Jahren</li>
                <li><i class="fa fa-check"></i> Protektion von Anti-Graffiti</li>
              </ul>
            </div>
            <br>
            <p>Schlüsselwörter: Lackschutz, Keramikversiegelungen, Lackpflege, der beste Schutz für den Lack Autos,
              weniger Pflege und mehr Glanz, Keramikbeschichtung, Langzeitversiegelung, Nanoversiegelung, Autopflege,
              Autoaufbereitung, Autodetailing.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Galerie</h2>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
