<app-header></app-header>
<section>
  <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-headline text-center">
              <h2>{{ title }}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  <span>{{ phone }}</span><br>
                  <span>{{ open_hours1 }}</span><br>
                  <span>{{ open_hours2 }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                  <span>{{ mail }}</span><br>
                  <span>{{ website }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  <span>{{ street }}</span><br>
                  <span>{{ city }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="form contact-form">
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value.userData)" role="form" class="contactForm">
                <div formGroupName="userData">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      formControlName="name"
                      placeholder="{{ placeholderName }}">
                    <span
                      *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched"
                      class="help-block">{{ wrongName }}</span>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      formControlName="email"
                      placeholder="{{ placeholderEmail }}">
                    <span
                      *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                      class="help-block"
                    >{{ wrongEmail }}</span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      formControlName="subject"
                      placeholder="{{ placeholderSubject }}">
                    <span
                      *ngIf="!signupForm.get('userData.subject').valid && signupForm.get('userData.subject').touched"
                      class="help-block">{{ wrongSubject }}</span>
                  </div>
                  <div class="form-group">
                <textarea
                  name="message"
                  class="form-control"
                  formControlName="message"
                  rows="5"
                  placeholder="{{ placeholderMessage }}"></textarea>
                    <span
                      *ngIf="!signupForm.get('userData.message').valid && signupForm.get('userData.message').touched"
                      class="help-block">{{ wrongMessage }}</span>
                  </div>
                  <div class="text-center">
                    <button type="submit" [disabled]="!signupForm.valid">{{ sendMessage }}</button>
                    <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">{{ wrongForm }}</span>
                    <span *ngIf="signupForm.valid && this.submitted" class="help-block success-span">{{ sentMessage }}</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
