.contact-area {
  height: auto;
  width: 100%;
}

.contact-form {
  button[type="submit"] {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all .3s ease 0s;

    &:hover {
      background: #3ec1d5;
      border: 1px solid #3ec1d5;
      color: #ffffff;
    }
  }

  input[type="email"], input[type="text"] {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    //border: 1px solid #cccccc;
    border: 1px solid #ffffff;;
    border-radius: 0;
    color: #ffffff;
    height: 40px;
    margin-bottom: 16px;
    padding-left: 20px;
    width: 100%;
  }

  textarea {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    height: 140px;
    padding: 20px;
    width: 100%;
  }

  span {
    color: red;

    &.success-span {
      color: green;
    }
  }
}

.single-icon {
  i {
    //border: 1px solid #444444;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff!important;
    font-size: 24px;
    height: 50px;
    line-height: 46px;
    margin-bottom: 20px;
    width: 50px;
  }

  p {
    color: #ffffff!important;
    font-size: 16px;
    line-height: 30px;
  }
}

.contact-icon {
  margin-bottom: 40px;
}

agm-map {
  height: 370px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .contact-form {
    margin-top: 30px;
  }
}
