<app-header></app-header>
<section>
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Schutzfolie</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <img src="assets/images/services/foil-protection1.jpg" alt="Schutzfolie" title="Schutzfolie">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">Beschreibung</h4>
              <p>
                <b>Preis: individuell </b><br>PPF (Polyurethan)
                Lackschutzfolie ist eine ultimative Methode zum Schutz von Autolacken und anderen Fahrzeugkomponenten
                wie Spiegeln oder Einstiegsleisten.
              </p>
              <p>
                Sie hat eine Dicke von 160 Mikrofonen und eine selbstheilende Oberfläche. Diese Fähigkeit wird bei
                Raumtemperatur und auch unter dem Einfluss von Sonnenlicht aktiviert. Die Schutzschicht der Folie ist
                praktisch unsichtbar, wodurch das ursprüngliche Erscheinungsbild des Lackes erhalten bleibt. PPF-Folie
                bietet den geschützten Elementen einen sehr hohen Grad an Wärmebeständigkeit von -50 bis über 110 °C.
                Sie ist auch beständig gegen Reinigungsmittel und Lösungsmittel.
              </p>
              <p>PPF-Folien schützen Autolack vor:</p>
              <ul>
                <li><i class="fa fa-check"></i> Kratzer</li>
                <li><i class="fa fa-check"></i> Steinschlag, Hagel und Rollsplitt</li>
                <li><i class="fa fa-check"></i> Streusalz</li>
                <li><i class="fa fa-check"></i> UV-Strahlung</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 secondary-info">
          <div class="single-well">
            <p>DIE WICHTIGSTEN VORTEILE VON PPF-Folien:</p>
            <ul>
              <li><i class="fa fa-check"></i> PERFEKTER SCHUTZ</li>
              <li><i class="fa fa-check"></i> Wasser und Schmutzabweisend</li>
              <li><i class="fa fa-check"></i> SELBSTHEILEND</li>
              <li><i class="fa fa-check"></i> MAXIMALER GLANZ</li>
            </ul>
            <br>
            <p>Teile des Autos, die es wert sind, mit Folie geschützt zu werden:</p>
            <ul>
              <li><i class="fa fa-check"></i> Stoßstange</li>
              <li><i class="fa fa-check"></i> Scheinwerfer</li>
              <li><i class="fa fa-check"></i> Motorhaube</li>
              <li><i class="fa fa-check"></i> Kotflügel</li>
              <li><i class="fa fa-check"></i> Spiegel</li>
              <li><i class="fa fa-check"></i> Türgriffaussparungen</li>
            </ul>
          </div>
          <br>
          <p>Schlüsselwörter: Folienschutz, PPFFolie, Lackschutz, Der beste Autolackschutz, Autofolie, Autolackschutz in
            Bielefeld, Autoaufbereitung, Autopflege, Autodetailing, Autospa, Lackschutz Bielefeld.</p>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Galerie</h2>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
