<app-header></app-header>
<div id="about" class="about-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-headline text-center">
          <h2>Schutz des Leders</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="well-left">
          <div class="single-well">
            <img src="assets/images/about1.jpg" alt="Schutz des Leders" title="Schutz des Leders">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="well-middle">
          <div class="single-well">
            <h4 class="sec-head">Beschreibung</h4>
            <p>
              <b>Dauer der Dienstleistung: 1 Stunde</b><br><b>Preis: 50,00 €</b><br>Abnutzung und Beschädigungen des Leders haben einen negativen Einfluss auf das visuelle Aussehen und die ästhetischen Effekte der Polsterung. Leder, welches Farbverluste hat, unterliegt schnell der Zerstörung. Das bedeutet, dass die Lackschicht welche die Polsterung schützen sollte, zerstört worden ist. Deswegen ist es sehr wichtig, damit entstehende Zerstörungen schnellstmöglich geschützt werden. Diese Maßnahme gestattet eine sichere Benutzung der Sitze für eine lange Zeit.<br><br><b>Vorteile:</b>
            </p>
            <ul>
              <li><i class="fa fa-check"></i> Beseitigung von Verfärbungen, Abnutzungen und Rissen</li>
              <li><i class="fa fa-check"></i> Erhöhung der inneren ästhetischen Effekte</li>
              <li><i class="fa fa-check"></i> Erhöhung des Fahrzeugwertes</li>
              <li><i class="fa fa-check"></i> Höherer Fahrkomfort</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
