<div class="our-skill-area fix hidden-sm">
  <div class="text-overly"></div>
  <div class="area-padding-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
          <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1500"
            [titleColor]="'#fafafa'"
            [titleFontSize]="'20'"
            [unitsColor]="'#fafafa'"
            [unitsFontSize]="'20'"
            [subtitle]="'Fertigkeit 1'"
            [subtitleFontSize]="26"
          ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
          <circle-progress
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
            [titleColor]="'#fafafa'"
            [titleFontSize]="'20'"
            [unitsColor]="'#fafafa'"
            [unitsFontSize]="'20'"
            [subtitle]="'Fertigkeit 1'"
            [subtitleFontSize]="26"
          ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
          <circle-progress
            [percent]="55"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2500"
            [titleColor]="'#fafafa'"
            [titleFontSize]="'20'"
            [unitsColor]="'#fafafa'"
            [unitsFontSize]="'20'"
            [subtitle]="'Fertigkeit 1'"
            [subtitleFontSize]="26"
          ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
          <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="3000"
            [titleColor]="'#fafafa'"
            [titleFontSize]="'20'"
            [unitsColor]="'#fafafa'"
            [unitsFontSize]="'20'"
            [subtitle]="'Fertigkeit 1'"
            [subtitleFontSize]="26"
          ></circle-progress>
        </div>
      </div>
    </div>
  </div>
</div>
