.our-skill-area {
  background: rgba(248,248,248,0.8) url("assets/images/about3.jpg") no-repeat fixed center top / cover;
  position: relative;
}

.progress-h4 {
  color: #ffffff;
  font-weight: 500;
}
