<app-header></app-header>
<div id="portfolio" class="portfolio-area area-padding fix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-headline text-center">
          <h2>Unser Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-filter fix">
        <div class="col-xs-12">
          <div class="project-menu-container">
            <ul class="project-menu">
              <!-- TODO: Fix hrefs. -->
              <!-- TODO: Fix filters. -->
              <!-- TODO: Add active class in routing. -->
              <li>
                <a [class.active]="filterBy === 'all'" (click)="filterBy = 'all'">All</a>
              </li>
              <li>
                <a [class.active]="filterBy === 'kat1'" (click)="filterBy = 'kat1'">Kat. 1</a>
              </li>
              <li>
                <a [class.active]="filterBy === 'kat2'" (click)="filterBy = 'kat2'">Kat. 2</a>
              </li>
              <li>
                <a [class.active]="filterBy === 'kat3'" (click)="filterBy = 'kat3'">Kat. 3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="project-content">
        <div class="col-sm-4 col-xs-12 kat1" *ngFor="let image of (visibleImages | imageFilter:filterBy)">
          <div class="single-project">
            <div class="project-img">
              <!-- TODO: Justify href to Facebook album. -->
              <a href="{{image.url}}" title="{{image.title}}" target="_blank"><img src="{{image.url}}" alt="{{image.title}}"></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <!-- TODO: Fix href. -->
                  <a href="#" class="venobox" data-gall="myGallery">
                    <h4>{{image.title}}</h4>
                    <span>{{image.description}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
