<div id="portfolio" class="portfolio-area area-padding fix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-headline text-center">
          <h2>Unser Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-filter fix">
        <div class="col-xs-12">
          <div class="project-menu-container">
            <ul class="project-menu">
              <!-- TODO: Fix hrefs. -->
              <!-- TODO: Fix filters. -->
              <!-- TODO: Add active class in routing. -->
              <li>
                <a href="#" class="active" data-filter="*">All</a>
              </li>
              <li>
                <a href="#" data-filter=".kat1">Kat. 1</a>
              </li>
              <li>
                <a href="#" data-filter=".kat2">Kat. 2</a>
              </li>
              <li>
                <a href="#" data-filter=".kat3">Kat. 3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="project-content">
        <div class="col-sm-4 col-xs-12 kat1">
          <div class="single-project">
            <div class="project-img">
              <!-- TODO: Justify href to Facebook album. -->
              <a href="https://facebook.com" target="_blank"><img src="assets/images/portfolio01.jpg" alt="portfolio"></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <!-- TODO: Fix href. -->
                  <a href="#" class="venobox" data-gall="myGallery">
                    <h4>Projekt 1</h4>
                    <span>Klicken Sie hier, um die Facebook-Galerie zu sehen</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 kat2">
          <div class="single-project">
            <div class="project-img">
              <!-- TODO: Justify href to Facebook album. -->
              <a href="https://facebook.com" target="_blank"><img src="assets/images/portfolio02.jpg" alt="portfolio"></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <!-- TODO: Fix href. -->
                  <a href="#" class="venobox" data-gall="myGallery">
                    <h4>Projekt 2</h4>
                    <span>Klicken Sie hier, um die Facebook-Galerie zu sehen</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 kat3">
          <div class="single-project">
            <div class="project-img">
              <!-- TODO: Justify href to Facebook album. -->
              <a href="https://facebook.com" target="_blank"><img src="assets/images/portfolio03.jpg" alt="portfolio"></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <!-- TODO: Fix href. -->
                  <a href="#" class="venobox" data-gall="myGallery">
                    <h4>Projekt 3</h4>
                    <span>Klicken Sie hier, um die Facebook-Galerie zu sehen</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 kat1">
          <div class="single-project">
            <div class="project-img">
              <!-- TODO: Justify href to Facebook album. -->
              <a href="https://facebook.com" target="_blank"><img src="assets/images/portfolio04.jpg" alt="portfolio"></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <!-- TODO: Fix href. -->
                  <a href="#" class="venobox" data-gall="myGallery">
                    <h4>Projekt 4</h4>
                    <span>Klicken Sie hier, um die Facebook-Galerie zu sehen</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 kat2">
          <div class="single-project">
            <div class="project-img">
              <!-- TODO: Justify href to Facebook album. -->
              <a href="https://facebook.com" target="_blank"><img src="assets/images/portfolio05.jpg" alt="portfolio"></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <!-- TODO: Fix href. -->
                  <a href="#" class="venobox" data-gall="myGallery">
                    <h4>Projekt 5</h4>
                    <span>Klicken Sie hier, um die Facebook-Galerie zu sehen</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 kat3">
          <div class="single-project">
            <div class="project-img">
              <!-- TODO: Justify href to Facebook album. -->
              <a href="https://facebook.com" target="_blank"><img src="assets/images/portfolio06.jpg" alt="portfolio"></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <!-- TODO: Fix href. -->
                  <a href="#" class="venobox" data-gall="myGallery">
                    <h4>Projekt 6</h4>
                    <span>Klicken Sie hier, um die Facebook-Galerie zu sehen</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
