<app-header></app-header>
<div id="about" class="about-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-headline text-center">
          <h2>Sonderangebot</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="well-left">
          <div class="single-well">
            <img src="assets/images/about1.jpg" alt="Sonderangebot" title="Sonderangebot">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="well-middle">
          <div class="single-well">
            <h4 class="sec-head">Beschreibung</h4>
            <p>
              Wir führen feste Termine für das Detaillingwaschen für <b>10,00 € ein.</b> Komm am 10. eines jeden Monats zu uns und nimm <b>für nur 10,00 €</b> am Handwaschen des Autos teil.
            </p>
            <ul>
              <li><i class="fa fa-check"></i> Sicheres Autowaschen mit zwei Eimern</li>
              <li><i class="fa fa-check"></i> Glänzen von Reifen</li>
              <li><i class="fa fa-check"></i> Spülen der Karosserieabstützung</li>
              <li><i class="fa fa-check"></i> Auftragen eines unsichtbaren Scheibenwischers für 14 Tage</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
