<app-header></app-header>
<div id="about" class="about-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-headline text-center">
          <h2>Detailling des Innenraumes (Standard)</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="well-left">
          <div class="single-well">
            <img src="assets/images/services/detailling-interior-standard.jpg" alt="Detailling des Innenraumes (Standard)" title="Detailling des Innenraumes (Standard)">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="well-middle">
          <div class="single-well">
            <h4 class="sec-head">Beschreibung</h4>
            <p>
              <b>Zeit für die Realisierung: 45 Minuten</b><br><b>Preis: 30,00 €</b><br>Das Innere des Wagens ist ebenfalls ein wichtiges Element wie die gepflegte und glänzende Karosserie. Die Detaillingreinigung des Inneren umfasst die gründliche Reinigung der Cockpitpolsterung, alle Plastik&ndash; und Metallelemente und ebenfalls den Kofferraum. Für diese Dienstleistung werden entsprechende Kosmetika und Schutzmittel benutzt. Dank diesen bleibt unser Arbeitseffekt lange erhalten. Das Auto Detailling des Inneren ist eine Investition der Gesundheit&ndash; während der Durchführung werden wir die Mikroorganismen los.<br><br>Das Standardpaket:
            </p>
            <ul>
              <li><i class="fa fa-check"></i> Gründliches staubsaugen des Wageninneren</li>
              <li><i class="fa fa-check"></i> Reinigung der Vinyl&ndash; und Plastikelemente mit Bürsten aus naturellem Haargarn und mit Mitteln, die das neutrale PH der Oberfläche wiederherstellen</li>
              <li><i class="fa fa-check"></i> Waschen von Scheiben und das Entfernen von Bodensatz von den inneren Scheiben</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
