<div class="newsletter-area">
  <div class="newsletter-bg">
    <div class="text-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="newsletter-text">
            <div class="news-text text-center">
              <h2>Newsletter Titel</h2>
              <p>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</p>
              <div class="subscribe-fields">
                <div class="subscribe-input">
                  <input type="email" class="email form-control" id="sus_email" placeholder="E-Mail">
                  <button type="submit" id="sus_submit">Abonnieren</button>
                  <div id="msg-submit" class="h3 text-center hidden"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
