.newsletter-area {
  background: rgba(248,248,248,.8) url("assets/images/newsletter.jpg") no-repeat fixed center top;
  background-size: cover;
}

.newsletter-bg {
  position: relative;
}

.newsletter-text {
  margin: 70px 0;
  padding: 30px 40px;
}

.news-text {
  // TODO: &> and > are equivalent, fix in other places.
  > h2 {
    color: #ffffff;
    font-size: 44px;
    font-weight: 500;
    line-height: 50px;
  }

  p {
    color: #ffffff;
    font-size: 18px;
    font-style: italic;
  }
}

.subscribe-fields {
  border: 1px solid #ffffff;
  border-radius: 30px;
  display: inline-block;
  height: 52px;
  margin-top: 30px;
  overflow: hidden;
  width: 60%;
}

.subscribe-input {
  button {
    background: #3ec1d5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 20px 20px 0;
    color: #ffffff;
    float: left;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 20px;
    width: 30%;

    &:hover {
      background: #ffffff none repeat scroll 0 0;
      color: #3ec1d5;
    }
  }

  input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    float: left;
    font-size: 15px;
    height: 50px;
    line-height: 24px;
    padding: 11px 15px;
    width: 70%;
  }
}

