<app-header></app-header>
<div id="about" class="about-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-headline text-center">
          <h2>Ozonierung</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="well-left">
          <div class="single-well">
            <img src="assets/images/services/ozonation.jpg" alt="Ozonierung" title="Ozonierung">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="well-middle">
          <div class="single-well">
            <h4 class="sec-head">Beschreibung</h4>
            <p>
              <b>Dauer der Maßnahme: 40 Minuten+ das Lüften des Fahrzeugs.</b><br><b>Preis: 35,00 €</b><br>Die
              Ozonierung ist eine Methode der Desinfizierung von Klimaanlagen und des Wageninneren. Wir benutzen eine
              professionelle Ausrüstung mithilfe welcher Ozon erzeugt wird. Er hat eine sehr starke desinfizierende und
              antibakterielle Wirkung und zerlegt sich schnell in reinen Sauerstoff. Deshalb ist seine Benutzung ganz
              sicher.<br><br><b>Dank der Ozonanwendung können wir:</b>
            </p>
            <ul>
              <li><i class="fa fa-check"></i> Unangenehme Gerüche entfernen: Zigarettengerüche, Tiergerüche, modrige Gerüche, und Brandgerüche</li>
              <li><i class="fa fa-check"></i> Allergene und Saprophyte töten, welche gefährliche Allergien und Krankheiten erzeugen können</li>
              <li><i class="fa fa-check"></i> Schimmel und Pilze entfernen</li>
              <li><i class="fa fa-check"></i> Die Klimaanlage desinfizieren und das Wageninnere sterilisieren</li>
              <li><i class="fa fa-check"></i> Staub in der Autokabine nivellieren, da Ozon ein stark oxidierendes Element ist</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="single-well">
          <p><b>Wie funktioniert es?</b><br>Als Ziel eine komplexe Dienstleistung durchzuführen, lassen wir Ozonmoleküle in die
            Klimaanlage eindringen, um die Entwicklung von Pilzen, Bakterien, Viren und Schimmel auszuschließen.<br><br><b>Ozonierung:</b>
          </p>
          <ul>
            <li><i class="fa fa-check"></i> Das Staubsaugen des Inneren</li>
            <li><i class="fa fa-check"></i> Ozonierung des Autos</li>
            <li><i class="fa fa-check"></i> Lüften des Wagens</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
