<app-header></app-header>
<div id="services" class="services-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-headline services-head text-center">
          <h2>Unsere Dienstleistungen</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="services-contents">
        <div class="col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <!-- TODO: Fix href. -->
                <a href="#" class="services-icon" role="link">
                  <i class="fa fa-code"></i>
                </a>
                <h4>Dienstleistung 1</h4>
                <p>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <!-- TODO: Fix href. -->
                <a href="#" class="services-icon" role="link">
                  <i class="fa fa-camera-retro"></i>
                </a>
                <h4>Dienstleistung 2</h4>
                <p>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <!-- TODO: Fix href. -->
                <a href="#" class="services-icon" role="link">
                  <i class="fa fa-wordpress"></i>
                </a>
                <h4>Dienstleistung 3</h4>
                <p>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <!-- TODO: Fix href. -->
                <a href="#" class="services-icon" role="link">
                  <i class="fa fa-camera-retro"></i>
                </a>
                <h4>Dienstleistung 4</h4>
                <p>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <!-- TODO: Fix href. -->
                <a href="#" class="services-icon" role="link">
                  <i class="fa fa-bar-chart"></i>
                </a>
                <h4>Dienstleistung 5</h4>
                <p>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <!-- TODO: Fix href. -->
                <a href="#" class="services-icon" role="link">
                  <i class="fa fa-ticket"></i>
                </a>
                <h4>Dienstleistung 6</h4>
                <p>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-skills></app-skills>
<app-footer></app-footer>
