section {
  color: #fff;
  position: relative;
  text-align: center;
}

a {
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 45%;
  transition: all .4s ease 0s;
  z-index: 99999;

  &:hover {
    background: #3ec1d5;
    border: 1px solid #3ec1d5;
    color: #ffffff;
    text-decoration: none;
  }

  &.left-btn {
    left: 30%;
  }

  &.right-btn {
    right: 30%;
  }
}

// TODO: Fix mobile version for buttons.
@media (max-width: 991px) and (min-width: 768px) {
  a {
    &.left-btn {
      left: 20%;
    }
    &.right-btn {
      right: 20%;
    }
  }
}

@media (max-width: 767px) {
  a {
    &.left-btn {
      left: 20%;
      right: 20%;
      top: 30%;
    }
    &.right-btn {
      left: 20%;
      right: 20%;
      top: 70%;
    }
  }
}
