.cta-area {
  background: #3ec1d5 none repeat scroll 0 0;
  padding: 30px 0;
}

.cta-text {
  display: block;
  padding: 10px 0;

  h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .cta-btn {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 30px;
    color: #3ec1d5;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-left: 100px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease 0s;

    &:hover {
      background: #3ec1d5 none repeat scroll 0 0;
      border: 2px solid #ffffff;
      color: #ffffff;
    }
  }
}

@media (max-width: 991px) {
  .cta-area {
    margin: 0 auto;
    padding: 0;
  }

  .cta-text {
    .cta-btn {
      display: block;
      font-size: 20px;
      margin-left: 0;
    }
  }
}
