<div class="reviews-area hidden-xs">
  <div class="work-us">
    <div class="work-left-text">
      <!-- TODO: Justify href. -->
      <a href="#" role="link"><img src="assets/images/about2.jpg" alt="review"></a>
    </div>
    <div class="work-right-text text-center">
      <h2>mit uns arbeiten</h2>
      <h5>Das professionelle Studio Hingucker Auto Detailing</h5>
      <!-- TODO: Fix href. -->
      <a routerLink="/kontakt" class="ready-btn" role="link" title="Kontaktiere uns">Kontaktiere uns</a>
    </div>
  </div>
</div>
