<div class="reviews-area hidden-xs">
  <div class="work-us">
    <div class="work-left-text">
      <!-- TODO: Justify href. -->
      <a href="#"><img src="assets/images/about2.jpg" alt="review"></a>
    </div>
    <div class="work-right-text text-center">
      <h2>mit uns arbeiten</h2>
      <h5>Beispieltext... Beispieltext... Beispieltext... Beispieltext... Beispieltext...</h5>
      <!-- TODO: Fix href. -->
      <a href="#contact" class="ready-btn">Kontaktiere uns</a>
    </div>
  </div>
</div>
