<div class="testimonials-area">
  <div class="testi-inner area-padding">
    <div class="testi-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial-content text-center">
            <!-- TODO: Fix href. -->
            <a href="#" class="quote"><i class="fa fa-quote right"></i></a>
            <!-- TODO: Add OWL Carousel. -->
            <div class="testimonial-carousel">
              <div class="single-testi">
                <div class="testi-text">
                  <p>Beispiel Meinung des Kunden... Beispiel Meinung des Kunden... Beispiel Meinung des Kunden...<br>Beispiel Meinung des Kunden... Beispiel Meinung des Kunden...</p>
                  <h6>Klient 1</h6>
                </div>
              </div>
              <div class="single-testi">
                <div class="testi-text">
                  <p>Beispiel Meinung des Kunden... Beispiel Meinung des Kunden... Beispiel Meinung des Kunden...<br>Beispiel Meinung des Kunden... Beispiel Meinung des Kunden...</p>
                  <h6>Klient 2</h6>
                </div>
              </div>
              <div class="single-testi">
                <div class="testi-text">
                  <p>Beispiel Meinung des Kunden... Beispiel Meinung des Kunden... Beispiel Meinung des Kunden...<br>Beispiel Meinung des Kunden... Beispiel Meinung des Kunden...</p>
                  <h6>Klient 3</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
