@import "~npm-font-open-sans/open-sans.css";
@import "~raleway-webfont/raleway.css";

body {
  background: #ffffff none repeat scroll 0 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
  text-align: left;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  transition: all .3s ease 0s;

  &:active {
    outline: 0 none;
  }

  &:focus {
    outline: 0 solid;
  }

  &:hover {
    color: #3ec1d5;
    outline: none;
    text-decoration: none;
  }
}

p {
  color: #ffffff;
  margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 0 0 15px;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: outside none none;
  padding: 0;
  margin: 0;
}

button, input, select, textarea {
  box-shadow: none !important;
}

section {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.area-padding {
  padding: 70px 0 80px;
}

.fix {
  overflow: hidden;
}

// TODO: Add to HTML.
.back-to-top {
  background: #3ec1d5;
  border-radius: 2px;
  bottom: 15px;
  color: #ffffff;
  display: none;
  font-size: 16px;
  padding: 6px 12px 9px;
  position: fixed;
  right: 15px;
  transition: background .5s;

  &:focus {
    outline: none;
  }

  &:focus, &:hover {
    background: #3ec1d5;
    color: #ffffff;
  }
}

::-moz-selection {
  background: #3ec1d5;
  text-shadow: none;
}

::selection {
  background: #3ec1d5;
  text-shadow: none;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0 40px;
  position: relative;
}

.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all .4s ease 0s;
}

@media (max-width: 767px) {
  .back-to-top {
    bottom: 15px;
  }

  .section-headline h2 {
    font-size: 30px;
  }
}
