<section>
  <div class="row">
    <div class="team-top">
      <h2 class="text-center">Unser Team</h2>
      <div class="col-xs-12">
        <div class="single-team-member">
          <div class="team-img">
            <a role="link" title="Marcin Przyszlak"><img src="assets/images/team1.jpg" alt="team"></a>
          </div>
          <div class="team-content text-center">
            <h4>Marcin Przyszlak</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <p>Schlüsselwörter: Autoreinigung vor dem Verkauf Autowaschen, gründliche Autowäsche, Hand waschen das Auto, die
    beste
    Autowäsche in Bielefeld, autoaufbereitung Bielefeld, autopflege, autopflege in der Nähe, Autopflege Sennestadt,
    wasanlage,auto detailing, auto detailer, auto aufbereitung, auto detailing near me, Wachs, Keramikbeschichtung,
    Quarzbeschichtung, das Auto zum Verkauf vorzubereiten, Reifenwechsel, Auswuchten der Reifen, Felgen reinigen,
    Motorraum reinigen, Scheinwerfer Renovierung, Scheinwerferpolierer, Lampenpolierer, hydrophobe Beschichtung,
    Wiederaufbereitung, Geschenkkarte, Geschenkgutschein, Vorbereitung des Bootes, Vorbereitung von
    Fahrrädern,Vorbereitung der Anhänger, Vorbereitung des Quad, Flugzeugvorbereitung, Wohnmobil-Vorbereitung.</p>
</section>
