<section>
  <div id="team" class="our-team-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Unser Team</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="team-top">
          <div class="col-sm-3 col-sm-offset-2 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <!-- TODO: Justify href. -->
                <a href="#" role="link"><img src="assets/images/team1.jpg" alt="team"></a>
                <div class="team-social-icon"></div>
              </div>
              <div class="team-content text-center">
                <h4>Marcin Przyszlak</h4>
                <p>Position</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-2 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <!-- TODO: Justify href. -->
                <a href="#" role="link"><img src="assets/images/team2.jpg" alt="team"></a>
                <div class="team-social-icon">
                </div>
              </div>
              <div class="team-content text-center">
                <h4>Lukasz Dunajski</h4>
                <p>Position</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>