<app-header></app-header>
<section>
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-headline text-center">
            <h2>Detailling des Innenraumes (Lux)</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <img src="assets/images/services/detailling-interior-lux1.jpg" alt="Detailling des Innenraumes (Lux)"
                title="Detailling des Innenraumes (Lux)">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">Beschreibung</h4>
              <p>
                <b>Zeit für die Realisierung: 120 Minuten</b><br><b>Preis: 60,00 € &ndash; 80,00 €</b><br><br>Lux Paket:
              </p>
              <ul>
                <li><i class="fa fa-check"></i> Genaues Staubsaugen des Wageninneren</li>
                <li><i class="fa fa-check"></i> Reinigung der Vinyl &ndash; und Plastikelemente mit Bürsten aus
                  naturellem Haargarn und mit Mitteln, die das neutrale PH der Oberfläche wiederherstellen</li>
                <li><i class="fa fa-check"></i> Oberflächliches Reinigen der Leder &ndash; und Materialsitze</li>
                <li><i class="fa fa-check"></i> Waschen von Scheiben und das Entfernen von Bodensatz von den inneren
                  Scheiben</li>
                <li><i class="fa fa-check"></i> Auftragen von <q>UV Protect</q> auf Plastik &ndash; und Vinylelemente
                </li>
                <li><i class="fa fa-check"></i> Auftragen von hochwertigen Spülung auf Lederelemente</li>
                <li><i class="fa fa-check"></i> Ozonisieren des Inneren und der Klimatisierung und Ventilation</li>
              </ul>
            </div>
            <br>
            <p>Schlüsselwörter: Polsterreinigung, Polster waschen, Reinigung von Lederpolstern, Schutz der
              Lederpolsterung, Lederimprägnierung, Teppichreinigung, Auto Matten waschen, das Auto Innenraum
              Staubsaugen, Gründliche Reinigung des Innenraums, Polster waschen und trocknen, Kofferraumreinigung,
              Entfernen des Rauchgeruchs aus dem Auto, Reinigen der Polster vom Fell, Autoreinigung vor dem Verkauf.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center">Galerie</h2>
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>
    </div>
  </div>
</section>
<app-reviews></app-reviews>
<app-cta></app-cta>
<app-footer></app-footer>
